<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class = "container"> 
  <% urls.forEach(function(r) { %>
    <%= r %>
  <% }); %>
  </div>


</body>
</html>
